<template>
    <div class="slds-box slds-p-around_none">
        <div
            class="slds-theme_shade slds-border_bottom slds-p-left_small slds-p-right_small slds-p-top_medium slds-p-bottom_medium">
            <div class="slds-media slds-media_center">
                <div class="slds-media__figure">
                    <lightning-icon icon-name={iconName} size="small" class="slds-m-left_xx-small"></lightning-icon>
                </div>
                <div class="slds-media__body">
                    <div class="slds-text-body_small">
                        <div class="slds-text-heading_small"><b>{listTitle}</b></div>
                    </div>
                </div>
            </div>
        </div>
        <template if:true={showTable}>
            <lightning-layout pull-to-boundary="medium" vertical-align="center" class="slds-m-bottom_small"
                multiple-rows="true">
                <lightning-layout-item size="12" padding="horizontal-medium">
                    <lightning-datatable key-field="id" data={displayData} columns={noSortColumns}
                        hide-checkbox-column="true" resize-column-disabled>
                    </lightning-datatable>
                </lightning-layout-item>
                <template if:true={showViewAll}>
                    <lightning-layout-item size="12" padding="horizontal-medium">
                        <lightning-button class="slds-align_absolute-center slds-m-top_x-small" variant="base"
                            onclick={displayViewAll} label="View All">
                        </lightning-button>
                    </lightning-layout-item>
                </template>
            </lightning-layout>
        </template>
    </div>
</template>