<template>
    <c-polymorphic-lookup onsearch={handleSearch} onselectionchange={handleSelectionChange} label="Related To"
        placeholder="Search Records" is-multi-entry='true' selection={existingSelections}>
    </c-polymorphic-lookup>
</template>