<template>
    <div class="slds-p-around_none slds-box">
        <div class="slds-theme_shade slds-p-around_small avtemplate-border-bottom_xxx-small slds-border_bottom">
            <lightning-layout vertical-align="stretch">
                <lightning-layout-item style="height:100%">
                    <lightning-breadcrumbs>
                        <lightning-breadcrumb label={pluralLabel} href={recordTab}></lightning-breadcrumb>
                        <lightning-breadcrumb label={name} href={recordLink}></lightning-breadcrumb>
                    </lightning-breadcrumbs>
                    <div>
                        <div class="slds-text-heading_small"><b>{listName}</b></div>
                    </div>
                    <div>
                        <div class="slds-text-body_small slds-m-top_small">{totalResults} items • Sorted by {sortedBy}
                        </div>
                    </div>
                    <div class="slds-m-top_small">
                        <lightning-datatable key-field="id" data={tableData} columns={columns}
                            hide-checkbox-column="true" default-sort-direction="asc" sorted-by={sortedBy}
                            sorted-direction={sortDirection} onsort={onHandleSort}>
                        </lightning-datatable>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </div>
    </div>
</template>